body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1347px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:33px;
  top:233px;
  width:577px;
  height:37px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:577px;
  height:37px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:577px;
  white-space:nowrap;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:1347px;
  height:75px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1347px;
  height:75px;
}
#u3 {
  position:absolute;
  left:2px;
  top:30px;
  width:1343px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:780px;
  top:222px;
  width:304px;
  height:76px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:76px;
}
#u5 {
  position:absolute;
  left:2px;
  top:30px;
  width:300px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:780px;
  top:322px;
  width:304px;
  height:76px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:76px;
}
#u7 {
  position:absolute;
  left:2px;
  top:30px;
  width:300px;
  visibility:hidden;
  word-wrap:break-word;
}
